@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #4f46e5 #111827;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #111827;
}

*::-webkit-scrollbar-thumb {
  background-color: #4f46e5;
  border-radius: 3px;
}